.Bubbles-lyricRow {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.Bubbles-ogLyric,
.Bubbles-kbLyric {
    padding: 12px;
    margin-top: 4px;
    background-color: #456381;
    border-radius: 16px;
    color: var(--light-text);
}

.Bubbles-kbLyric {
    text-align: right;
}

.Bubbles-arrow {
    align-self: center;
    color: var(--dark-text);
    min-width: 40px;
    text-align: center;
}

.Bubbles-layer {
    font-weight: 200;
    text-align: left;
    margin-top: 0;
    padding-left: 12px;
    color: var(--light-text);
    width: 300px;
}

b {
    font-weight: 200;
}

button {
    border: none;
    background-color: transparent;
    font-family: "Lato";
    color: var(--light-text);
    cursor: pointer;
}

.ogLyric-bad {
    background-color: var(--dark-purple);
    padding: 0px 4px;
    border-radius: 2px;
}

.kblyric-different {
    background-color: var(--light-green);
    padding-left: 4px;
    border-radius: 2px;
    color: var(--dark)
}

.kblyric-same.start {
    padding-left: 2px;
}