.page-container {
  color: var(--light-text);
  padding: 36px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.timeline-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-height: 0;
}
