.page-container {
    color: var(--light-text);
    padding: 36px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    text-align: left;
    margin-left: 5vw;
    margin-top: 0;
}

.timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 0;
}

.legend-container {
    padding: 0 24px;
}

.timeline-rect:hover {
    cursor: pointer;
}

.timeline-popup-box {
    border-radius: 15px;
    box-shadow: 0 0 40px -10px black;
}

.timeline-popup-button:hover {
    cursor: pointer;
}

.timeline-popup-flex {
    display: flex;
    margin: 0 24px 24px 24px;
    max-width: 100%;
    max-height: calc(100% - 3.2em - 56px);
}

.timeline-popup-header {
    text-align: center;
    color: black;
    margin-bottom: 12px;
}

.timeline-popup-title {
    position: sticky;
    z-index: 12;
    margin: 0;
}

.timeline-popup-category {
    background-color: red;
    padding: 0 0 8px 0;
    margin: 0;
}

.timeline-popup-subtitle {
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
    position: sticky;
    top: 0;
    z-index: 12;
}

.timeline-popup-left {
    min-width: fit-content;
    overflow: auto;
}

.timeline-popup-left-item {
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 0 6px -1px rgb(130, 130, 130);
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.timeline-popup-left-item:hover {
    color: white;
    background-color: black;
}

.timeline-popup-left-item-selected {
    background-color: orange;
}

.timeline-popup-left-item:hover {
    cursor: pointer;
}

.timeline-popup-right {
    overflow: auto;
    margin-left: 24px;
    width: 100%;
}

.timeline-popup-right-song-section {
    margin-bottom: 16px;
}

.timeline-popup-right-song-title {
    padding: 8px;
    font-weight: bold;
    width: calc(100% - 16px);
    background-color: gray;
    color: white;
    position: sticky;
    top: 26px;
}

.timeline-popup-right-lyric-section {
    margin: 0 32px;
}

.timeline-popup-right-lyric-item {
    padding: 16px 0;
}

.timeline-popup-right-lyric-item:not(:last-child) {
    border-bottom: 1px solid gray;
}

#timeline-popup-button {
    background-position: center;
    background-color: black;
    background-image: url("./gifs/close-button.png");
    background-size: 20px 20px;
    box-shadow: 0 0 20px -1px black;
}