.year-scroller {
    border-left: 2px solid var(--blue);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0 20px;
}

.single-year {
    color: #797979;
    display: flex;
    font-size: 16px;
    padding: 0 4px 8px 4px;
    transition: color 200ms ease-in-out;
    white-space: nowrap;
    width: min-content;
}

.single-year:hover,
.single-year.selected {
    color: #e0e0e0;
    cursor: pointer;
    text-shadow: 0 0 20px #e0e0e0;
}

.divider {
    border-bottom: 2px solid var(--blue);
    margin: 4px 0;
    opacity: 20%;
    width: 100%;
}