.year-scroller {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 2px solid var(--blue);
}

.single-year {
    font-size: 20px;
    padding: 8px;
    color: #797979;
    transition: color 200ms ease-in-out;
}

.single-year:hover,
.single-year.selected {
    color: #e0e0e0;
    cursor: pointer;
    font-size: 28px;
}